*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E2D1F9;
}

.first-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px hidden grey;
    /* background-color: black; */
    color: black;
    /* margin: 0 100px; */
}

select{
    color: black;
    border: none;
}

.second-container a{
    border-right: 1px hidden gray;
    border-top: none;
    border-bottom: none;
    border-left: none;
    text-decoration: none;
    color: aliceblue;
    margin: 0 5px;
    padding-right: 5px;
}

.navbar{
    background-color: #317773;
    margin-bottom: 20px;
}

.navbar-toggler{
    background-color: black;
    color: black;
}

.navbar-brand{
    color: aliceblue;
    padding-left: 150px;
}

.nav-link{
    color: aliceblue;
}

.nav-item a:hover{
    background-color: black;
    color: aliceblue;
    border-radius: 20px;
}

.collapse{
    height: 80px; 
    padding-left: 300px;
}

/*

.mb-3{
    width: 290px;
    margin: 20px 0 10px 0px;
}

.mt-3{
    background-color: white;
    width: 24%;
    height: 350px;
    margin: 20px 0 10px 500px;
    margin: auto;
    padding: 1px 10px 10px 10px;
}*/


.message{
    text-align: center;
}

.btn{
    background-color: #317773;
    border: none;
}

#mySwitch{
    background-color: #317773;
    border: none;
} 

.contact{
    background-color: white;
}

.add{
    width: 24%;
    height: 100%;
    margin: 20px 0 10px 500px;
    margin: auto;
}

.fa-credit-card{
    color: rgb(233, 10, 10);
}

.fa-cc-visa{
    color: rgb(2, 2, 70);
}

.fa-cc-mastercard{
    color: rgb(197, 11, 11);
}

.second-row{
    margin-top: 40px;
}

.col{
    margin-bottom: 40px;
}

.message{
    margin-left: 130px;
}

.form-check{
    margin-left: 113px;
    margin-bottom: 0px;
    padding-left: 50px;
    background-color: white;
    color: #317773;
    width: 83.5%;
    height: 50px;
}

.bttn{
    margin-left: 113px;
    padding-left: 10px;
    background-color: white;
    color: #317773;
    width: 83.5%;
    height: 50px;
}


