.col{
    display: flex;
}
.email{
    display: flex;

}
.a{
    text-decoration: none;
}
input{
    padding: 10px;
}
.border{
    border-radius: 10px;
    border-style: outset;
    box-shadow: 2px 1px 2px 2px;
}